CarlaUE4/Content/Carla/Maps/tartu_demo/tartu_demo_BuiltData.uexp filter=lfs diff=lfs merge=lfs -text
CarlaUE4/Content/Carla/Maps/tartu_demo/terrain2025/tartu_demo_tartu_demo.uexp filter=lfs diff=lfs merge=lfs -text
CarlaUE4/Content/Carla/Maps/tartu_large_awmini/houses/kaubamaja/kaubamaja_VU_000Node.uexp filter=lfs diff=lfs merge=lfs -text
